.card_product-list {
    background-color: rgb(220, 249, 249);
    padding: 15px;
    margin: 15px 0;
    width: 35%;
    font-family: 'Segoe UI', sans-serif;
}

h3 > a {
    text-decoration: none;
    font-size: 25px;
}

button {
    margin-bottom: 10px;
    width: 80px;
}